mixin mastersTraining()
  section.section.masters-training
    .container
      h2.masters-training__title У нас есть школа <b>по обучению маникюра и педикюра</b>
      .masters-training__inner
        p.masters-training__info Запись на курсы через администратора студии
        a.button.masters-training__button(target="_blank" rel="noopener noreferrer")
          span Узнать подробнее <b>про обучение</b>
