mixin pageNotFound()
  section.section.page-404
    .container
      .page-404__text
        h1.page-404__title Ошибка 404
        p.page-404__subtitle Вы попали на несуществующую страницу
      nav.page-404__nav
        ul.page-404__list
          li.page-404__item
            a(href="/services") Услуги салона
          li.page-404__item
            a(href="/masters") Мастера
          li.page-404__item
            a(href="/contacts") Контакты
          li.page-404__item
            a(href="/somsite") Записаться на услугу

