//- [{
//-   image: {
//-     path: '',
//-     image: 'image-nails-6',
//-     format: 'jpg',
//-     width: 163,
//-     height: 127,
//-     altText: 'Мастер Мария',
//-   }
//- },
//- {
//-   video: {
//-     path: '',
//-     name: 'cat_in_the_sun',
//-     formats: ['mp4'],
//-     poster: 'img/image-nails-4.jpg',
//-     alt: 'Текст на случай ошибки',
//-     modalId: 'modal-video-1'
//-   },
//-   mod: 'video',
//- }]

mixin mastersMedia(list)
  - const single = list.length === 1;

  section.section.masters-media&attributes(attributes)
    .container
      h1.visually-hidden Примеры работ наших мастеров
      ul.masters-media__list(class= single ? 'masters-media__list--single' : null)
        each item in list
          - const {image, video, mod} = item;
          .masters-media__item(class= mod ? `masters-media__item--${mod}` : null)
            if image
              +picture(image)
            if video
              .masters-media__video(data-micromodal-trigger= video.modalId)
                +icon({name: 'icon-video', width: 40, height: 40})
                video(poster= video.poster, src= `video${video.path}/${video.name}.${video.formats[0]}`, preload="none")

