@use "../mixins" as mixin;

.section {
  padding: 25px 0;

  @include mixin.min-tablet {
    padding: 40px 0;
  }

  @include mixin.min-laptop {
    padding: 60px 0;
  }

  @include mixin.min-desktop {
    padding: 80px 0;
  }

  @include mixin.min-desktop-wide {
    padding: 105px 0;
  }

  &.section--nopad {
    padding: 0;
  }
}
