@use "../variables" as var;
@use "../mixins" as mixin;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.scroll-lock {
  position: fixed;
  overflow-y: auto;
}

.btn-reset {
  padding: 0;
  background: var.$color-transparent;
  border: none;
  cursor: pointer;
}

.transitioned {
  transition: background-color var.$long-transition-duration var.$default-transition-easing,
    color var.$default-transition-settings, opacity var.$default-transition-settings;
}

.desktop-only {
  display: none;

  @include mixin.min-laptop {
    display: initial;
  }
}

.mobile-only {
  @include mixin.min-laptop {
    display: none;
  }
}