@use "../../styles/variables" as var;
@use "../../styles/mixins" as mixin;

.masters-block {
  $c: &;

  overflow: hidden;

  &__list {
    @include mixin.list-reset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    width: 42.15%;
    margin-right: 15.38%;
    margin-bottom: 20px;

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    ul {
      @include mixin.list-reset;
      @include mixin.font(8, 10);
      margin-top: 17px;
      font-weight: 600;
      text-align: center;

      @include mixin.min-tablet {
        @include mixin.font(12, 16);
      }

      @include mixin.min-laptop {
        @include mixin.font(16, 22);
      }

      @include mixin.min-desktop {
        @include mixin.font(20, 30);
      }

      @include mixin.min-desktop-wide {
        @include mixin.font(24, 36);
        margin-top: 50px;
      }
    }

    @include mixin.min-tablet {
      margin-bottom: 30px;
    }

    @include mixin.min-laptop {
      width: 25%;

      margin-right: 50px;
      margin-bottom: 50px;

      &:nth-child(2n) {
        margin-right: 50px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__image {
    position: relative;
    margin-bottom: 17px;
    width: 100%;
    padding-bottom: 127.73%;
    background-color: var.$color-silver;

    img {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    @include mixin.min-desktop {
      margin-bottom: 30px;
    }
  }

  &__name {
    margin: 0 0 5px 0;
    padding: 0 10px;
    font-size: mixin.rem(16);
    font-weight: 500;
    text-align: center;

    @include mixin.min-tablet {
      font-size: mixin.rem(20);
    }

    @include mixin.min-desktop {
      margin-bottom: 20px;
      font-size: mixin.rem(26);
    }

    @include mixin.min-desktop-wide {
      font-size: mixin.rem(36);
    }
  }

  &__specialty {
    margin: 0;
    padding: 0 3px;
    font-size: mixin.rem(11);
    line-height: 1.3;
    text-align: center;

    @include mixin.min-tablet {
      margin: 0 auto;
      max-width: 300px;
      font-size: mixin.rem(16);
    }

    @include mixin.min-desktop {
      font-size: mixin.rem(22);
    }

    @include mixin.min-desktop-wide {
      font-size: mixin.rem(24);
    }
  }

  &--training {
    #{$c}__name {
      font-size: mixin.rem(12);
      line-height: mixin.rem(14);
      padding: 0 2px;

      @include mixin.min-tablet {
        font-size: mixin.rem(20);
        line-height: mixin.rem(26);
      }

      @include mixin.min-desktop {
        font-size: mixin.rem(26);
        line-height: mixin.rem(30);
      }

      @include mixin.min-desktop-wide {
        font-size: mixin.rem(36);
        line-height: mixin.rem(44);
      }
    }

    #{$c}__item {
      @include mixin.min-desktop {
        width: 30%;
        margin-right: 10%;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}