// Default

$color-black: #000000;
$color-white: #ffffff;
$color-transparent: rgb(255 255 255 / 0);

$color-ghost-white: #f8f8ff;
$color-quartz: #dfdfE4;
$color-silver: #c4c4c4;
$color-nobel: #979797;
$color-dim-gray: #746f6f;
$color-gun-powder: #555557;

// Typography
//---------------------------------

$font-main: "Montserrat", "Arial", sans-serif;

// Animation
//---------------------------------

$default-transition-duration: 0.2s;
$long-transition-duration: 0.7s;
$default-transition-easing: ease-out;
$default-transition-settings: $default-transition-duration $default-transition-easing;

// Viewports
//---------------------------------

$mobile-small: 320px;
$tablet: 600px;
$laptop: 1024px;
$desktop: 1440px;
$desktop-wide: 1920px;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Layers
//---------------------------------
$layer-toggler: 100;

// Misc
//---------------------------------

$border-radius1: 10px;
