mixin title(text, isLight)
  h2.title(class= isLight ? 'title--light' : null)&attributes(attributes) #{text}

mixin titleLined(text, isLight)
  .title-lined
    h2(class= isLight ? 'title--light' : null)&attributes(attributes) #{text}
