@use "../../styles/variables" as var;
@use "../../styles/mixins" as mixin;

.title {
  margin: 0 0 17px 0;
  font-size: mixin.rem(20);
  line-height: mixin.rem(28);
  font-weight: 400;
  color: var.$color-gun-powder;
  text-align: center;

  &--light {
    color: var.$color-white;
  }

  @include mixin.min-tablet {
    font-size: mixin.rem(24);
    line-height: mixin.rem(32);
  }

  @include mixin.min-laptop {
    margin-bottom: 30px;
    font-size: mixin.rem(28);
    line-height: mixin.rem(40);
  }

  @include mixin.min-desktop {
    margin-bottom: 40px;
    font-size: mixin.rem(38);
    line-height: mixin.rem(50);
  }

  @include mixin.min-desktop-wide {
    margin-bottom: 60px;
    font-size: mixin.rem(50);
    line-height: mixin.rem(60);
  }
}

.title-lined {
  display: flex;
  align-items: flex-start;
  margin: 0 0 20px 0;

  h2 {
    position: relative;
    margin: 0;
    font-size: mixin.rem(12);
    line-height: 1.2;
    font-weight: 400;

    &::before {
      @include mixin.pseudo;
      left: calc(100% + 20px);
      bottom: 4px;
      width: 100vw;
      height: 1px;
      background-color: var.$color-dim-gray;
    }
  }

  @include mixin.min-tablet {
    h2 {
      font-size: mixin.rem(20);
    }
  }

  @include mixin.min-laptop {
    margin-bottom: 40px;

    h2 {
      &::before {
        height: 2px;
        bottom: 5px;
      }
    }
  }

  @include mixin.min-desktop {
    margin-bottom: 50px;

    h2 {
      font-size: mixin.rem(26);

      &::before {
        bottom: 6px;
      }
    }
  }

  @include mixin.min-desktop-wide {
    margin-bottom: 90px;

    h2 {
      font-size: mixin.rem(50);

      &::before {
        bottom: 10px;
      }
    }
  }
}
