//- {
//-   links: [
//-     {
//-       url: string;
//-       name: string;
//-       alias: string;
//-     }
//-   ],
//-   currentPage: string;
//- }

mixin mainNav({links, currentPage})

  nav.main-nav#main-nav&attributes(attributes)
    +toggler({label: 'Открыть меню', targetId: 'main-nav', switchableClass: 'active'})
    ul.main-nav__list
      each item in links
        li.main-nav__item
          a(href=item.url, class= item.alias === currentPage ? 'active' : '') #{item.name}
