extends ../pug/layout.pug

append head
  script(src="https://api-maps.yandex.ru/2.1/?apikey=ef1d86bf-0093-41b0-b77c-5143be254efa&lang=ru_RU" type="text/javascript")

block variables
  -
    // TODO описание страницы
    const isMainPage = false;
    const page = 'contacts';
    const pageLang = 'ru-Ru';
    const title = 'MAROKKO | Контакты';
    const pageDescription = 'Page description';
    const pageKeywords = 'Page keywords';
    const pageTitle = 'Марокко. Контакты студии.';
    const noFooter = true;
    const image = {path: '', image: 'image-contacts', format: 'jpg', width: 325, height: 353, alt: "Дверь нашей студии"};

block main
  +scrollButton()
  h1.visually-hidden #{pageTitle}
  section.section.contacts
    .container
      .contacts__inner
        h2.contacts__title Контакты студии
        address.contacts__address
          p.contacts__address-text Санкт-Петербург, Репищева улица, д. 10, корп. 2
          ul.contacts__phones
            li
              a(href="tel:+79668624159") +7 (966) 862-4159
          .contacts__time
            p График работы:
            ul.contacts__time-list
              li 9:00 - 21:00
        .contacts__bottom
          .contacts__map
            #contacts-map(data-default-pin="img/map-pin.svg", data-map-pin="img/map-pin.png")
          .contacts__image
            +picture(image)
        .contacts__socials
          +socials()
