extends ../pug/layout.pug

block variables
  -
    // TODO описание страницы
    const isMainPage = true;
    const page = 'home';
    const pageLang = 'ru-Ru';
    const title = 'MAROKKO';
    const pageDescription = 'Page description';
    const pageKeywords = 'Page keywords';
    const hasBanner = {path: '', image: 'main-banner', format: 'jpg', width: 375, height: 346, altText: '', hasTablet: true};
    const tallBanner = true;
    const pageTitle = 'Марокко. Студия маникюра и педикюра премиум класса.';
    const blockTitle = 'Студия маникюра и педикюра';

block main
  +mainServices()
  +action()


