extends ../pug/layout.pug

block variables
  -
    const isMainPage = false;
    const page = 'link';
    const image = {path: '', image: 'test-image', format: 'jpg', width: 581, height: 624, altText: 'test image'};
    const icon = {name: 'icon-close', width: 80, height: 80};
    const pageLang = 'ru-Ru';
    const title = 'MAROKKO | Разводящая';
    const pageDescription = 'Page description';
    const pageKeywords = 'Page keywords';
    const pages = [
      {
        title: 'Домашняя',
        url: '/home.html',
      },
      {
        title: 'Услуги',
        url: '/services.html',
      },
      {
        title: 'Мастера',
        url: '/masters.html',
      },
      {
        title: 'Контакты',
        url: '/contacts.html',
      },
      {
        title: '404',
        url: '/404.html',
      },
    ]

block main
  section.container
    h1 Разводящая страница
    ul
      each item in pages
        li
          a(href=item.url) #{item.title}

