extends ../pug/layout.pug

block variables
  -
    // TODO описание страницы
    const isMainPage = false;
    const page = 'masters';
    const pageLang = 'ru-Ru';
    const title = 'MAROKKO | Мастера';
    const pageDescription = 'Page description';
    const pageKeywords = 'Page keywords';
    const pageTitle = 'Марокко. Мастера студии.';

block main
  //- h1.visually-hidden #{pageTitle}
  +mastersBlock('Мастера ногтевого сервиса', nailsMasters)
  +mastersMedia()


