extends ../pug/layout.pug

block variables
  -
    // TODO описание страницы
    const isMainPage = false;
    const page = 'masters';
    const pageLang = 'ru-Ru';
    const title = 'MAROKKO | Мастера';
    const pageDescription = 'Page description';
    const pageKeywords = 'Page keywords';

block main
  section.container

