extends ../pug/layout.pug

block variables
  -
    // TODO описание страницы
    const isMainPage = false;
    const page = 'services';
    const pageLang = 'ru-Ru';
    const title = 'MAROKKO | Услуги';
    const pageDescription = 'Page description';
    const pageKeywords = 'Page keywords';
    const hasBanner = {path: '', image: 'services-banner', format: 'jpg', width: 375, height: 254, altText: ''};
    const pageTitle = 'Марокко. Студия маникюра и педикюра премиум класса. Услуги нашей студии.';
    const blockTitle = 'Услуги нашей студии';

block main
  section.container

