@use "../../styles/mixins.scss" as mixin;
@use "../../styles/variables.scss" as var;

.credentials {
  position: absolute;
  left: 25px;
  bottom: 20px;

  a {
    font-size: mixin.rem(12);
    color: var.$color-nobel;

    @include mixin.min-laptop {
      @include mixin.interactive-opacity;
    }
  }
}
