mixin signUp(noSection)

  if !noSection
    section.section.sign-up&attributes(attributes)
      h2.visually-hidden Записаться на услугу
      .container
        .sign-up__inner
          a.button.sign-up__button(href="signup.html") Записаться на услугу
          span.sign-up__arrow
  else
    .section.sign-up&attributes(attributes)
      .container
        .sign-up__inner
          a.button.sign-up__button(href="signup.html") Записаться на услугу
          span.sign-up__arrow
