include ./logo

mixin header(isMainPage, currentPage, hasBanner, tallBanner, title, pageTitle)
  header.header(class={'header--banner': hasBanner, 'header--tall': tallBanner})&attributes(attributes)
    if hasBanner
      .header__banner-image
        +picture(hasBanner)
    .container
      .header__inner
        //- h1.visually-hidden #{pageTitle}
        +mainNav({links: mainNavLinks, currentPage})
        .header__container
          a.header__logo(href="/home.html", aria-label="На главную")
            +logo()
          h2.header__title #{blockTitle}
        a.header__link(href="https://some-site.com") Запись в студию
