include ./logo

mixin header(isMainPage, currentPage, hasBanner, tallBanner, title, pageTitle)
  header.header(class={'header--banner': hasBanner, 'header--tall': tallBanner})&attributes(attributes)
    if hasBanner
      .header__banner-image
        +picture(hasBanner)
    .container
      .header__inner
        +mainNav({links: mainNavLinks, currentPage})
        .header__container
          a.header__logo(href="/home.html", aria-label="На главную")
            +img({path: '', image: 'logo', format: 'svg', width: 129, height: 16, altText: 'Логотип салона'})
          h2.header__title #{blockTitle}
        a.header__link(href="https://some-site.com") Запись в студию
