mixin footer()

  - const copy = '© Marokko';

  footer.footer&attributes(attributes)
    .container
      .footer__inner
        h2.footer__title Контакты студии
        address.footer__address
          p.footer__address-text Санкт-Петербург, Репищева улица, д. 10, корп. 2
          ul.footer__phones
            li
              a(href="tel:+79668624159") +7 (966) 862-4159
            li
              a(href="tel:+79668624159") +7 (966) 862-4159
          .footer__time
            p График работы:
            ul.footer__time-list
              li 9:00 - 21:00
          .footer__socials
            +socials()
        .footer__bottom
          a(href="politics.html") Политика конфиденциальности
        if page === 'home'
          +credentials()
