mixin action()

  section.section.action
    .container
      .action__inner
        .action__info
          h2 Скидка 10%
          p для новых клиентов
        button.button.action__button(type="button") Записаться на услугу
