@use "../../styles/variables" as var;
@use "../../styles/mixins" as mixin;

.training-feedback {
  $c: &;

  &__title {
    @include mixin.font(15, 18);
    margin: 0 0 18px 0;
    font-weight: 400;
    text-align: center;

    b {
      font-weight: 600;
    }

    @include mixin.min-tablet {
      @include mixin.font(20, 26);
      margin-bottom: 24px;
    }


    @include mixin.min-desktop {
      @include mixin.font(36, 48);
      margin-bottom: 40px;
    }

    @include mixin.min-desktop-wide {
      @include mixin.font(50, 61);
      margin-bottom: 71px;
    }
  }

  &__list {
    @include mixin.list-reset;

    li {
      @include mixin.font(8, 12);
      margin-bottom: 17px;
      padding: 17px 22px;
      border: 1px solid var.$color-dim-gray;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        margin: 0;

        &+p {
          margin-top: 15px;
        }
      }

      @include mixin.min-tablet {
        @include mixin.font(16, 20);
        margin-bottom: 24px;
      }

      @include mixin.min-desktop {
        @include mixin.font(28, 36);
        margin-bottom: 40px;
        padding: 80px 100px;

        p {
          margin: 0;

          &+p {
            margin-top: 80px;
          }
        }
      }

      @include mixin.min-desktop-wide {
        @include mixin.font(36, 61);
        padding: 110px 140px;
        margin-bottom: 70px;
      }
    }
  }
}