@use "../../styles/variables" as var;
@use "../../styles/mixins" as mixin;

.training {
  $c: &;

  &__title {
    @include mixin.font(12, 16);
    margin: 0 auto 10px auto;
    max-width: 250px;
    font-weight: 400;
    text-align: center;

    b {
      font-weight: 500;
    }

    @include mixin.min-tablet {
      @include mixin.font(18, 24);
      margin-bottom: 0;
      max-width: 370px;
    }

    @include mixin.min-laptop {
      @include mixin.font(24, 32);
      margin-bottom: 0;
      max-width: 500px;
    }

    @include mixin.min-desktop {
      @include mixin.font(34, 42);
      max-width: 720px;
    }

    @include mixin.min-desktop-wide {
      @include mixin.font(43, 52);
      max-width: 880px;
    }
  }

  &__list {
    @include mixin.list-reset;
  }
}