@use "../../styles/variables" as var;
@use "../../styles/mixins" as mixin;

.training-models {
  background-color: var.$color-dim-gray;
  color: var.$color-white;

  &__title {
    margin: 0 auto;
    font-weight: 400;
    text-align: center;
    max-width: 325px;
    color: var.$color-white;

    @include mixin.min-tablet {
      max-width: 415px;
    }

    @include mixin.min-laptop {
      max-width: 650px;
    }

    @include mixin.min-desktop {
      max-width: none;
    }
  }
}