@use "../../styles/variables" as var;
@use "../../styles/mixins" as mixin;

.training-feedback {
  $c: &;

  &__title {
    margin: 0 0 18px 0;
    font-weight: 400;
    text-align: center;

    b {
      font-weight: 600;
    }

    @include mixin.min-tablet {
      margin-bottom: 24px;
    }


    @include mixin.min-desktop {
      margin-bottom: 40px;
    }

    @include mixin.min-desktop-wide {
      margin-bottom: 71px;
    }
  }

  &__text {
    @include mixin.font(13, 16);
    margin-bottom: 17px;

    &>p {
      margin: 0;

      &+p {
        margin-top: 15px;
      }
    }

    @include mixin.min-tablet {
      @include mixin.font(16, 20);
      margin-bottom: 24px;
    }

    @include mixin.min-desktop {
      @include mixin.font(28, 36);
      margin-bottom: 60px;

      &>p {
        margin: 0;

        &+p {
          margin-top: 80px;
        }
      }
    }

    @include mixin.min-desktop-wide {
      @include mixin.font(36, 61);
    }
  }

  &__list {
    @include mixin.list-reset;

    li {
      margin-bottom: 17px;
      padding: 17px 22px;
      border: 1px solid var.$color-dim-gray;

      &:last-child {
        margin-bottom: 0;
      }

      @include mixin.min-tablet {
        margin-bottom: 24px;
      }

      @include mixin.min-desktop {
        margin-bottom: 40px;
        padding: 80px 100px;
      }

      @include mixin.min-desktop-wide {
        padding: 110px 140px;
        margin-bottom: 70px;
      }
    }
  }

  &__ref {
    @include mixin.font(13, 16);

    p {
      margin: 0;

      &+p {
        margin: 0;
      }
    }

    @include mixin.min-tablet {
      @include mixin.font(16, 20);
      margin-bottom: 24px;
    }

    @include mixin.min-desktop {
      @include mixin.font(28, 36);
    }

    @include mixin.min-desktop-wide {
      @include mixin.font(36, 61);
    }
  }
}