@use "../../styles/variables" as var;
@use "../../styles/mixins" as mixin;

.training-action {
  $c: &;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;

    @include mixin.min-laptop {
      flex-direction: row;
      column-gap: 40px;
      align-items: center;
    }
  }

  &__title {
    margin: 0;
    max-width: 275px;
    font-weight: 400;
    text-align: center;

    b {
      font-weight: 600;
    }

    @include mixin.min-tablet {
      max-width: 335px;
    }

    @include mixin.min-laptop {
      text-align: left;
      max-width: none;
      margin-bottom: 0;
      min-width: 400px;
    }

    @include mixin.min-desktop {
      margin: 0;
    }

    @include mixin.min-desktop-wide {
      margin: 0;
    }
  }

  &__button {
    @include mixin.font(13, 15);
    padding: 9px 24px;
    min-height: auto;
    max-width: none;
    width: auto;
    font-weight: 400;

    @include mixin.min-tablet {
      max-width: 500px;
      width: 100%;
    }

    @include mixin.min-laptop {
      max-width: none;
    }

    @include mixin.min-desktop {
      max-width: 740px;
    }

    @include mixin.min-desktop-wide {
      @include mixin.font(36, 42);
      min-height: 128px;
      max-width: 750px;
    }
  }
}