@use "../../styles/variables" as var;
@use "../../styles/mixins" as mixin;

.training {
  $c: &;

  &__title {
    margin: 0 auto 10px auto;
    max-width: 250px;
    font-weight: 400;
    text-align: center;

    b {
      font-weight: 500;
    }

    @include mixin.min-tablet {
      margin-bottom: 0;
      max-width: 370px;
    }

    @include mixin.min-laptop {
      margin-bottom: 0;
      max-width: 500px;
    }

    @include mixin.min-desktop {
      max-width: 720px;
    }

    @include mixin.min-desktop-wide {
      max-width: 880px;
    }
  }

  &__list {
    @include mixin.list-reset;
  }
}