-
  const browsMasters = [
    {
      name: 'Анастасия',
      specialty: 'Администратор студии, бровист',
      image: {
        path: '',
        image: 'image-masters-4',
        format: 'jpg',
        width: 137,
        height: 175,
        altText: 'Мастер Анастасия',
      },
    },
    {
      name: '1',
      specialty: 'Администратор студии',
      noImage: true,
      image: {
        path: '',
        image: 'image-masters-21',
        format: 'jpg',
        width: 137,
        height: 175,
        altText: 'Мастер Анастасия',
      },
    },
  ]
