-
  const mainNavLinks = [
    {
      url: '/home.html',
      name: 'главная',
      alias: 'home',
    },
    {
      url: '/services.html',
      name: 'услуги',
      alias: 'services',
    },
    {
      url: '/masters.html',
      name: 'мастера',
      alias: 'masters',
    },
    {
      url: '/contacts.html',
      name: 'контакты',
      alias: 'contacts',
    },
    {
      url: 'https://some-site.com',
      name: 'запись',
      alias: 'book',
    },
  ]
