-
  const nailsMasters = [
    {
      name: 'Елена',
      specialty: 'Мастер маникюра и педикюра',
      image: {
        path: '',
        image: 'image-masters-1',
        format: 'jpg',
        width: 137,
        height: 175,
        altText: 'Мастер Елена',
      },
    },
    {
      name: 'Кристина',
      specialty: 'Мастер маникюра и педикюра',
      image: {
        path: '',
        image: 'image-masters-3',
        format: 'jpg',
        width: 137,
        height: 175,
        altText: 'Мастер Кристина',
      },
    },
    {
      name: 'Мария',
      specialty: 'Мастер маникюра и педикюра',
      image: {
        path: '',
        image: 'image-masters-2',
        format: 'jpg',
        width: 137,
        height: 175,
        altText: 'Мастер Мария',
      },
    },
  ]
