-
  const services = {
    womenNails: {
      name: 'женский ногтевой сервис',
      list: [
        {
          name: 'Маникюр + покрытие гель-лаком',
          price: '2800',
        },
        {
          name: 'Маникюр комбинированный/аппаратный',
          price: '1300',
        },
        {
          name: 'Зимний маникюр',
          price: '1500',
        },
        {
          name: 'SPA-маникюр',
          price: '1800',
        },
        {
          name: 'Маникюр + укрепление гелем/акригелем',
          price: '3300',
        },
        {
          name: 'Маникюр + укрепление гелем/акригелем + покрытие гель-лаком',
          price: '3800',
        },
        {
          name: 'Маникюр + наращивание',
          price: '4300',
        },
        {
          name: 'Маникюр + наращивание + покрытие гель-лаком',
          price: '4800',
        },
        {
          name: 'Лак (база)',
          price: '100',
        },
        {
          name: 'Лак (цвет)',
          price: '500',
        },
        {
          name: 'Френч/лунный маникюр/градиент',
          price: '300',
        },
        {
          name: 'Педикюр + покрытие гель-лаком',
          price: '3000',
        },
        {
          name: 'Педикюр комбинированный/аппаратный',
          price: '2000',
        },
        {
          name: 'LIGHT-педикюр',
          price: '1300',
        },
        {
          name: 'Зимний педикюр',
          price: '2200',
        },
        {
          name: 'SPA-педикюр',
          price: '2500',
        },
        {
          name: 'Коррекция формы',
          price: '200',
        },
        {
          name: 'Полировка',
          price: '200',
        },
        {
          name: 'Снятие гель-лака без последующего покрытия',
          price: '400',
        },
        {
          name: 'Снятие лака',
          price: '100',
        },
        {
          name: 'Ремонт ногтя',
          price: 'от 150',
        },
        {
          name: 'Дизайн ногтя',
          price: 'от 150',
        },
      ]
    },
    mensList: {
      name: 'мужской ногтевой сервис',
      list: [
        {
          name: 'Маникюр комбинированный/аппаратный',
          price: '1500',
        },
        {
          name: 'Зимний маникюр',
          price: '1700',
        },
        {
          name: 'SPA-маникюр',
          price: '2000',
        },
        {
          name: 'Педикюр комбинированный/аппаратный',
          price: '2300',
        },
        {
          name: 'LIGHT-педикюр',
          price: '1500',
        },
        {
          name: 'Зимний педикюр',
          price: '2500',
        },
        {
          name: 'SPA-педикюр',
          price: '2800',
        },
      ]
    },
    browsList: {
      name: 'брови и ресницы',
      list: [
        {
          name: 'Коррекция бровей',
          price: '700',
        },
        {
          name: 'Коррекция + окранивание хной/краской',
          price: '1200',
        },
        {
          name: 'Ламинирование бровей + коррекция',
          price: '2000',
        },
        {
          name: 'Ламинирование бровей + коррекция + окрашивание',
          price: '2500',
        },
        {
          name: 'Ламинирование ресниц',
          price: '2500',
        },
        {
          name: 'Окрашивание ресниц',
          price: '500',
        },
        {
          name: 'Ваксинг зоны лица',
          price: '500',
        },
      ]
    },
    additionals: {
      name: 'дополнительные услуги',
      list: [
        {
          name: 'Удаление вросшего ногтя',
          price: '300',
        },
        {
          name: 'Удаление стержневой мозоли',
          price: '300',
        },
        {
          name: 'Онихолизис',
          price: '300',
        },
        {
          name: 'Работа с бородавками по испанской технологии',
          price: 'от 1000',
        },
      ]
    }
  }
