-
  const courses = [
    {
      name: 'Комбинированный маникюр с&nbsp;покрытием гель-лака',
      buttonText: 'программа обучения на 5 дней',
      buttonMobileText: 'обучение 5 дней',
      priceText: '30 000 ₽',
      image: {
        path: '',
        image: 'image-nails-7',
        format: 'jpg',
        width: 654,
        height: 632,
        altText: 'Мастер Мария',
      },
      days: [
        {
          title: '1 день',
          sections: [
            {
              name: 'теоретическая часть',
              list: [
                'строение кожи и ногтевой пластины',
                'виды инструментов',
                'правила работы с аппаратом',
                'виды форм ногтевой пластины',
                'разбор с отслойками, причина их появления',
                'обзор материалов для покрытия и укрепления ногтевой пластины',
              ],
            },
            {
              name: 'практическая часть',
              list: [
                'организация рабочего стола',
                'техника опила разных форм',
                'техника последовательного выполнения маникюра',
                'техника последовательного нанесения гель-лака',
                'техника выстраивания архитекруты',
                'ремонт ногтя: поднятие вниз растущих ногтей, ремонт трещин, донаращивание углов/длины',
                'техника снятия гель-лака с выравниванием фрезой',
                'этапы обработки инструментов: дезинфекции, ПСО, стерилизация и дальнейшее хранение',
              ],
            },
          ],
        },
        {
          title: '2 день',
          sections: [
            {
              name: 'теоретическая часть',
              list: ['болезни ногтей'],
            },
            {
              name: 'практическая часть',
              list: ['комбинированный маникюр', 'покрытие гель-лаком'],
            },
          ]
        },
        {
          title: '3/4 день',
          sections: [
            {
              name: 'практическая часть',
              list: ['комбинированный маникюр', 'покрытие гель-лаком'],
            },
          ]
        },
        {
          title: '5 день',
          sections: [
            {
              name: 'Экзамен!',
              list: [],
            },
          ]
        },
      ]
    },
    {
      name: 'Комбинированный педикюр с&nbsp;покрытием гель-лака',
      buttonText: 'программа обучения на 3 дня',
      buttonMobileText: 'обучение 3 дня',
      priceText: '20 000 ₽',
      image: {
        path: '',
        image: 'image-nails-6',
        format: 'jpg',
        width: 884,
        height: 689,
        altText: 'Мастер Мария',
      },
      days: [
        {
          title: '1 день',
          sections: [
            {
              name: 'теоретическая часть',
              list: [
                'строение кожи и ногтевой пластины',
                'виды инструментов',
                'правила работы с аппаратом',
                'виды форм ногтевой пластины',
                'разбор с отслойками, причина их появления',
                'обзор материалов для покрытия и укрепления ногтевой пластины',
              ],
            },
            {
              name: 'практическая часть',
              list: [
                'организация рабочего стола',
                'техника опила разных форм',
                'техника последовательного выполнения маникюра',
                'техника последовательного нанесения гель-лака',
                'техника выстраивания архитекруты',
                'ремонт ногтя: поднятие вниз растущих ногтей, ремонт трещин, донаращивание углов/длины',
                'техника снятия гель-лака с выравниванием фрезой',
                'этапы обработки инструментов: дезинфекции, ПСО, стерилизация и дальнейшее хранение',
              ],
            },
          ],
        },
        {
          title: '2 день',
          sections: [
            {
              name: 'теоретическая часть',
              list: ['болезни ногтей'],
            },
            {
              name: 'практическая часть',
              list: ['комбинированный маникюр', 'покрытие гель-лаком'],
            },
          ]
        },
        {
          title: '3 день',
          sections: [
            {
              name: 'Экзамен!',
              list: [],
            },
          ]
        },
      ]
    },
    {
      name: 'Моделирование ногтей',
      buttonText: 'программа обучения на 3 дня',
      buttonMobileText: 'обучение 3 дня',
      priceText: '20 000 ₽',
      image: {
        path: '',
        image: 'image-nails-8',
        format: 'jpg',
        width: 654,
        height: 546,
        altText: 'Мастер Мария',
      },
      days: [
        {
          title: '1 день',
          sections: [
            {
              name: 'теоретическая часть',
              list: [
                'строение кожи и ногтевой пластины',
                'виды инструментов',
                'правила работы с аппаратом',
                'виды форм ногтевой пластины',
                'разбор с отслойками, причина их появления',
                'обзор материалов для покрытия и укрепления ногтевой пластины',
              ],
            },
            {
              name: 'практическая часть',
              list: [
                'организация рабочего стола',
                'техника опила разных форм',
                'техника последовательного выполнения маникюра',
                'техника последовательного нанесения гель-лака',
                'техника выстраивания архитекруты',
                'ремонт ногтя: поднятие вниз растущих ногтей, ремонт трещин, донаращивание углов/длины',
                'техника снятия гель-лака с выравниванием фрезой',
                'этапы обработки инструментов: дезинфекции, ПСО, стерилизация и дальнейшее хранение',
              ],
            },
          ],
        },
        {
          title: '2 день',
          sections: [
            {
              name: 'теоретическая часть',
              list: ['болезни ногтей'],
            },
            {
              name: 'практическая часть',
              list: ['комбинированный маникюр', 'покрытие гель-лаком'],
            },
          ]
        },
        {
          title: '3 день',
          sections: [
            {
              name: 'Экзамен!',
              list: [],
            },
          ]
        },
      ]
    },
  ];

  const teachers = [
    {
      name: 'Марокко Елена&nbsp;Анатольевна',
      specialty: 'преподаватель',
      image: {
        path: '',
        image: 'image-masters-1',
        format: 'jpg',
        width: 137,
        height: 175,
        altText: 'Мастер Елена',
      },
    },
    {
      name: 'Петрусенко Анастасия Петровна',
      specialty: 'преподаватель',
      image: {
        path: '',
        image: 'image-masters-5',
        format: 'jpg',
        width: 137,
        height: 175,
        altText: 'Мастер Кристина',
      },
    },
  ];

  const feedbacks = [
    {
      name: 'Марокко Елена',
      student: 'Петровская Кристина',
      text: `<p>Преподавание на высшем уровне! 💥
        После базового прохождения курса «Специалиста ногтевого сервиса»
        попасть в руки таких профессионалов - невероятное везение!!!
        Для меня открыли нереально крутую технику выполнения
        как маникюра, так и педикюра.
        Много практики, каждую ошибку разбирали индивидуально
        (бывало даже по несколько раз, спасибо за терпение).
        Научили не бояться клиентов и работать в удовольствие!
        Спасибо за уют, полученные профессиональные знания и за огромную
        мотивацию развиваться и стремиться к лучшему!!!</p>

        <p>P.s За идеальным выполнением своей работы только
        в руки преподавателей «MAROKKO» !😉🥰</p>`,
    },
    {
      name: 'Марокко Елена',
      student: 'Лапшина Мария',
      text: `<p>Обучение дало огромный пласт знаний, которые не только
        закрыли все пробелы и вопросы после базового курса,
        но и открыли совершенно новый взгляд и супер
        профессиональную технику, в которой работать одно удовольствие.</p>

        <p>Процесс обучения был максимально ясен, уделено огромное
        количество внимания и времени, благодаря чему выросли
        отличные мастера, которые не задают вопросы,
        а могут сами давать на них ответы.</p>`,
    },
  ]
